.wrapper {
    display: flex;
    height: 100vh;
    background: #d6d1a8;
}

.main {
    flex-grow: 1;
    padding: 20px;
    background: #e3dfc3;
}

.rightPanelButton {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background: #8772f3;
}

.rightPanelButton:hover {
    background: #6b57cf;
}

.rightPanel {
    /* display: none; */
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    background: #8772f3;
}

.rightPanelOpen .rightPanel{
    display: none;
}

header {
    text-align: center;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.callendar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.yesterday, .today, .tomorrow {
    background: #d6d1a8;
    padding: 10px;
    margin: 10px;
    width: auto;
}


.progress-bar-container {
  margin: 20px 0;
  text-align: center;
}

progress {
  width: 100%;
  height: 20px;
}


span {
    font-weight:bold;
}

img {
    width: 30px;
    height: 30px;
}

.edit, .logout, .save {
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.normal {
    font-weight: normal;
}

.progress-bar-container {
  margin: 20px 0;
  text-align: center;
}

progress {
  width: 100%;
  height: 20px;
}
