<h1>Witaj {{user.name}}</h1>
<p>Twój cel to : {{user.goal}}</p>
Twój wskaźnik BMI wynosi:
{{userBMI}}
Co umiejscawia Cię w kategorii
{{jakasKategoriaCzyCos}}

Twój podstawowy metabolizm:
{{userBMR}}
Uwzględniając Twój poziom aktywności, aby {{user.goal}}, potrzebujesz
przyjmować {{userTDEE}} kalorii dziennie

<!-- 
    jest jeszcze formula na idealna wage, mozna dodac
    
    wedlug stronki jak przytyc to +500 kalorii
a jak schudnac to -500
sa podzialy protein/fats/carbs
moderate carbs 30/35/35
lower 40/40/20
higher 30/20/50-->