<div class="wrapper" [class.rightPanelOpen]="isRightPanelOpen">
<div class="main">
<header>
<div class="topPanel">
    <h1 id="welcome">Witaj <span id="userName">{{user.name}}</span></h1>
    <p>Twój cel to : <span id="userGoal">{{user.goal}}</span></p>
</div>
</header>

<div class="bodyDetails">
    <p>Twój wskaźnik BMI wynosi:
    {{userBMI | number:'1.0-2'}}</p>



    <p>Co umiejscawia Cię w kategorii
    <span id="userCategory">{{jakasKategoriaCzyCos}}</span>
    <!--  BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9
    over 30 is obese
    under is underweight-->
    kategoria</p>



    <p>Twój podstawowy metabolizm:
    {{userBMR | number:'1.0-0'}}
    kalorii na dzień</p>



    <p>Uwzględniając Twój poziom aktywności, aby {{user.goal}}, potrzebujesz
    przyjmować {{userTDEE | number:'1.0-0'}} kalorii dziennie</p>
</div>


<div class="callendar">
    <div class="yesterday">
        <p>{{ yesterday }}</p>
       <a routerLink="../day-view">szczegóły</a> 
    </div>

    <div class="today">
        <p>{{ daytoday }}</p>
        szczegóły
    </div>

    <div class="tomorrow">
        <p>{{ tomorrow }}</p>
        szczegóły
    </div>
</div>



<div class="bottomPanel">
    <p>Spożyłeś dzisiaj już <span id="caloriesIntake">1234</span> kalorii</p>
    <p>co stanowi <span>{{userCalories | number:'1.0-0'}}/100</span>%</p>
</div>


<div appDirective>Historia posiłkow:</div>
<p>{{ today  | date:'fullDate'}} </p>

<footer>
    Planer diety by Kacper Góralczyk, Dawid Dłuski, Maciej Borys. All rights reserved
</footer>

</div> <!-- end of main -->

<button class="rightPanelButton" type="button" (click)="togglePanel()">
    <span>=</span>
</button>

<div class="rightPanel">
    Prawy panel
    <br>
    Dzisiejsze posiłki:
    <app-meal></app-meal>
</div>


</div>


<!-- 
    jest jeszcze formula na idealna wage, mozna dodac

    wedlug stronki jak przytyc to +500 kalorii
a jak schudnac to -500
sa podzialy protein/fats/carbs
moderate carbs 30/35/35
lower 40/40/20
higher 30/20/50-->